<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ assignment.title }}</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h2>{{ assignment.title }}</h2>
        <p>{{ assignment.description }}</p>

        {% for question in questions %}
            <div class="question-block">
                <h3>{{ question.question_text }}</h3>
                <input type="text" name="answer_{{ question.id }}" placeholder="Ваш ответ">
            </div>
        {% endfor %}

        <button type="submit">Отправить</button>
    </form>
</body>
</html>
