# Игнорировать файл с переменными окружения
.env

# Игнорировать папку с виртуальным окружением
venv/
env/
.venv/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать статические файлы (если они генерируются автоматически)
staticfiles/

# Игнорировать медиафайлы (если они генерируются автоматически)
media/

# Игнорировать базы данных SQLite
db.sqlite3
db.sqlite31
# Игнорировать логи
*.log

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать зависимости Python
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Игнорировать macOS системные файлы
.DS_Store

# Игнорировать файлы миграций (опционально, если вы хотите исключить их)
*/migrations/*.py
!*/migrations/__init__.py