asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Django==4.2.15
django-ckeditor==6.7.1
django-ckeditor-skins==0.0.2
django-jazzmin==3.0.0
django-js-asset==2.2.0
Flask==3.0.3
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysqlclient==2.2.4
pillow==10.4.0
runserver==1.0.4
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.4
zipp==3.20.0
