{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="showcase" id="aihub">
        <h3 style="color: black">ҚАЗАҚСТАН ТАРИХЫ ТУРАЛЫ ФАКТІЛЕР</h3>
        <div class="text-sec">
            <p style="font-size: 20px;">
                Қазақстан тарихы – Орталық Азиядағы ең ежелгі және бай тарихқа ие мемлекеттердің бірі.
                Бұл елдің тарихы мыңдаған жылдар бойы қалыптасқан, оның ішінде сақтар, ғұндар,
                түркілер және қыпшақтар сынды көптеген көшпелі халықтардың мәдениеті мен өркениеті ерекше орын алады.
                Қазақстанның тарихы арқылы біз тек саяси оқиғалар мен соғыстарды ғана емес, сонымен бірге мәдениет пен дәстүрдің дамуын,
                халықтардың өзара әрекеттесуін, ғылым мен білімнің өркендеуін де байқай аламыз.
                Қазақстанның тәуелсіздікке қол жеткізуі – заманауи тарихтағы маңызды бетбұрыстардың бірі болып саналады.
            </p>
        </div>
        <div class="image-sec">
            <img src="{% static 'img/1.jpg' %}">
            <img src="{% static 'img/2.jpg' %}">
            <img src="{% static 'img/3.jpg' %}">
            <img src="{% static 'img/4.jpg' %}">
        </div>
        <br>
        <hr>
        <br>
        <div>
            <p style="font-size: 20px;">
                1. Қазақстан — мұхитқа шыға алмайтын, бір мезгілде Еуропа мен Азияда орналасқан ең ірі мемлекет. Сондай-ақ Қазақстанда үш уақыт белдеуі бар.
            </p>
            <p style="font-size: 20px;">
                2. Қазақстан — КСРО құрамынан соңғы шыққан мемлекет. Қазақстан Республикасы өзінің тәуелсіздігін 1991 жылы 16 желтоқсанда жариялады. Елдің тұңғыш әрі қазіргі президенті Нұрсұлтан Назарбаевты қазақстандықтар өте жақсы көріп, құрметтейді.
            </p>
            <p style="font-size: 20px;">
                3. Қазақстанда көптеген көне дәстүрлер сақталған. Мысалы, елдің кейбір өңірлерінде әлі күнге дейін "қалыңдық ұрлау" дәстүрі бар, бірақ ол көбінесе екі жақтың келісімімен жүзеге асады.
            </p>
            <p style="font-size: 20px;">
                4. Теңге — Қазақстанның ұлттық валютасы. "Деньги" сөзі "тенге" сөзінен шыққан.
            </p>
            <p style="font-size: 20px;">
                5. Әлемдегі ең биік таулы мұз айдыны — "Медеу" Қазақстанда орналасқан (Алматыдан 16 км қашықтықта, теңіз деңгейінен 1691 м биіктікте). Онда 170 рекорд орнатылған.
            </p>

            <p style="font-size: 20px;">
                6. Жабайы қарасораның ең үлкен өсетін аймағы — Шу даласы Қазақстанда орналасқан. Даланың аумағы шамамен 150 000 га.
            </p>
            <p style="font-size: 20px;">
                7. Алғашқы салт атты адамдар қазіргі Қазақстан аумағында пайда болған. Осында алғаш рет жылқылар қолға үйретілді.
            </p>
            <p style="font-size: 20px;">
                8. Көптеген халықаралық терминдер мен сөздер Қазақстанда өздерінің синтаксистік формасына ие. Мысалы, интернетті мұнда "ғаламтор" деп атайды.
            </p>
            <p style="font-size: 20px;">
                9. Қазақстанда ерекше климат бар. Жыл ішінде температураның ауытқуы 100 градусқа дейін жетуі мүмкін! Астанада ең жоғары температура +42,6 °C, ал ең төменгісі —51,6 °C.
            </p>
            <p style="font-size: 20px;">
                10. Қазақстанда шай ішу деңгейі өте жоғары: адам басына жылына 1,2 кг шай. Мысалы, Үндістанда бұл көрсеткіш адам басына 650 грамм. Қазақстанда шай импортының көлемі жылына 100 млн долларды құрайды, бірақ жасыл шай мұнда танымал емес.
            </p>
        </div>

    </div>
{% endblock %}
