{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="services" id="services">
        <div class="header">
            <h3>Әдістемелер</h3>
            <p class="grey">
                Еліміздің бай және көпқабатты тарихын ескере отырып,
                Қазақстан тарихы бойынша әдіснамалар әр түрлі болуы мүмкін.
                Мұнда бірнеше мысалдар келтірілген:
            </p>
        </div>

        <div class="service-items">
            <div class="item">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey">Тарихнамалық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey">
                        Қазақстан туралы жазылған түрлі дереккөздер мен әдеби материалдарды талдау.
                    </p>
                </div>
            </div>
            <div class="item active">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey" >Археологиялық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey" >
                        Қазіргі Қазақстан аумағын мекендеген ежелгі мәдениеттерді
                        зерттеу үшін археологиялық деректерді пайдалану.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey">Этнографиялық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey">
                        Қазақ халқының мәдени дәстүрлері мен әдет-ғұрыптарын зерттеу.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey">Әлеуметтік-экономикалық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey">
                        Ауыл шаруашылығын, өнеркәсіпті және сауданы дамытуды қоса алғанда,
                        Қазақстанның тарих бойындағы экономикалық дамуын зерттеу.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
