{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<div class="profile-container">
    <h1>Пайдаланушы профилі</h1>
    <p><strong>Login:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Аты:</strong> {{ user.first_name }}</p>
    <p><strong>Тегі:</strong> {{ user.last_name }}</p>
    <p><strong>Тіркелген күні:</strong> {{ user.date_joined }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-danger">Шығу</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Кіру</a>
        <a href="{% url 'register' %}" class="btn btn-secondary">Тіркеу</a>
    {% endif %}
</div>
{% endblock %}
