{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
<div class="custom-content">
    <h1>Электронды оқулық туралы</h1>
    <p>
        Бұл электронды оқулық “Болашақ тарих мұғалімдеріне «Қазақстан тарихы» пәнін оқыту әдістемесін ақпараттық және цифрлық технологияларды пайдалану арқылы дамыту” жоба негізінде әзірленуде.
    </p>
    <p>
        Жоба жетекшісі: <strong>Исаев Мухтар Сеитханулы</strong>, тарих ғылымдарының PhD докторы.
    </p>
    <p>
        Е-Оқулықтың және жобаның мақсаты: Халықаралық білім беру бағдарламаларының жаңа талаптары мен ҚР білім берудің барлық деңгейінің мемлекеттік жалпыға міндетті білім беру стандарттарын негізге ала отырып, болашақ тарих мұғалімдеріне «Қазақстан тарихы» пәнін ақпараттық және цифрлық технологияларды пайдалану арқылы оқыту әдістемесін дамытудың инновациялық оқу моделін құру, ОӘК-ын зерттеу және әзірлеу.
    </p>
</div>

{% endblock %}
