body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 2em 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #4CAF50;
}

.status {
    color: #ff0000; /* Красный цвет для выделения */
    font-style: italic;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #4CAF50;
    color: white;
}

/* Медиазапросы для адаптации под мобильные устройства */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 1em 0;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    a {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    li {
        font-size: 0.9em;
        padding: 10px;
    }

    a {
        font-size: 0.9em;
    }

    .status {
        font-size: 0.8em;
    }
}
