/* Базовые стили для страницы */
.quiz-body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none; /* Запрещает выделение текста на всей странице */
}

/* Таймер */
#quiz-timer {
    position: fixed;
    top: 450px;
    right: 720px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    user-select: none; /* Запрещает выделение текста в таймере */
}

/* Стили для модального окна */
.quiz-modal {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none; /* Запрещает выделение текста в модальном окне */
}

.quiz-modal-dialog {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.quiz-modal-content {
    padding: 30px;
}

.quiz-modal-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.quiz-modal-title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    user-select: none; /* Запрещает выделение текста в заголовке модального окна */
}

.quiz-modal-body {
    padding-top: 20px;
}

.quiz-modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Вопросы */
.quiz-question {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    margin-bottom: 20px;
    user-select: none; /* Запрещает выделение текста в вопросах */
}

.quiz-question h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    user-select: none; /* Запрещает выделение текста в заголовках вопросов */
}

/* Ответы */
.quiz-question div {
    margin-bottom: 10px;
}

input[type="checkbox"].quiz-input,
input[type="radio"].quiz-input {
    margin-right: 10px;
}

label.quiz-label {
    font-size: 16px;
    color: #555;
    user-select: none; /* Запрещает выделение текста в метках ответов */
}

/* Кнопки */
button.quiz-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none; /* Запрещает выделение текста на кнопках */
}

button.quiz-btn-primary {
    background-color: #007bff;
    color: #fff;
}

button.quiz-btn-primary:hover {
    background-color: #0056b3;
}

button.quiz-btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

button.quiz-btn-secondary:hover {
    background-color: #5a6268;
}

button.quiz-btn-success {
    background-color: #28a745;
    color: #fff;
}

button.quiz-btn-success:hover {
    background-color: #218838;
}

/* Адаптивность */
@media (max-width: 768px) {
    .quiz-modal-dialog {
        padding: 20px;
    }

    .quiz-h2 {
        font-size: 18px;
    }

    button.quiz-button {
        font-size: 14px;
    }

    #quiz-timer {
        right: 85px;
    }
}
