/* Основной контейнер с уникальным классом */
.lesson-main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px;
    border: 5px solid #ddd; /* Рамка вокруг основного контейнера */
    border-radius: 20px; /* Скругление углов рамки */
    background-color: #fff; /* Фон для основного контейнера */
}

/* Контейнер для основного контента с уникальным классом */
.lesson-content-container {
    flex: 3;
    max-width: calc(100% - 340px); /* Учитываем ширину сайдбара и отступ */
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

/* Центрирование контента */
.lesson-center-content {
    margin-bottom: 20px; /* Отступ перед видео */
}

/* Секция видео и аудио с уникальным классом */
.lesson-video-audio-section {
    display: flex;
    justify-content: center; /* Центрирование видео по горизонтали */
    width: 100%;
}

video {
    max-width: 100%;
    height: auto; /* Подстраивает высоту видео по ширине */
}

/* Сайдбар с уникальным классом */
.lesson-side-container {
    flex: 1;
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
    left: auto;
}
/* ============================================================================================================== */
                                    /* Кнопка для открытия/закрытия меню */
/* ============================================================================================================== */
/* Иконка меню */
.menu-toggle {
    font-size: 40px; /* Размер иконки */
    cursor: pointer; /* Курсор-рука при наведении */
    position: fixed; /* Фиксируем позицию */
    top: 85px; /* Отступ сверху */
    left: 0; /* Перемещаем влево от края экрана */
    z-index: 900; /* Поверх других элементов */
    user-select: none; /* Убираем возможность выделения текста */
}

/* Основной контейнер бокового меню */
.lesson-side2-container {
    position: fixed;
    width: 250px; /* Ширина контейнера */
    right: -250px; /* Скрываем за пределами экрана справа */
    top: 0; /* Прижимаем к верхнему краю */
    height: 100%; /* Занимает всю высоту страницы */
    background-color: #239ADE ; /* Темный фон */
    padding: 20px; /* Внутренние отступы */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Тень для эффекта глубины */
    box-sizing: border-box; /* Включаем padding в ширину и высоту */
    transition: right 0.3s ease; /* Плавное появление меню */
}

/* Положение открытого меню */
.lesson-side2-container.open {
    right: 0; /* Перемещаем на экран */
}

/* Список элементов меню */
.lesson-list2 {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
}

/* Элемент списка меню */
.lesson-item2 {
    margin-bottom: 15px; /* Отступ между элементами */
}

/* Ссылка в меню */
.lesson-link2 {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: black; /* Черный цвет текста */
    font-size: 18px; /* Размер шрифта */
    display: block; /* Ссылка занимает всю ширину */
    padding: 10px 15px; /* Внутренние отступы */
    border-radius: 50px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

/* Эффект при наведении на ссылку */
.lesson-link2:hover {
    background-color: #555; /* Более светлый фон при наведении */
    color: #fff; /* Цвет текста при наведении */
}

/* ============================================================================================================== */
                                           /* Стили для списка лекций */
/* ============================================================================================================== */
.lesson-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стили для элементов списка лекций */
.lesson-item {
    margin-bottom: 10px;
}

/* Стили для ссылок в списке */
.lesson-link {
    display: block;
    padding: 14px;
    text-decoration: none;
    color: #3723DE;
    font-size: 17px; /* Увеличенный размер шрифта */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;

    /* Центрирование */
    margin: 0 auto; /* Центрирует блок по горизонтали */
    text-align: center; /* Центрирует текст внутри блока */
    max-width: 300px; /* Устанавливает максимальную ширину для центровки */
}



.lesson-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* Контейнер для ссылки возврата */
.lesson-return-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Стили для ссылки возврата */
.lesson-return-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.lesson-return-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* Секция видео и аудио */
.lesson-video-audio-section {
    margin-bottom: 20px;
    text-align: center; /* Центрирование контента внутри секции */
}

/* Секция презентации */
.lesson-presentation-section {
    margin-top: 20px;
}

/* Стиль для iframe презентаций */
.lesson-presentation-section iframe {
    max-width: 100%;
    height: 600px; /* Задаем фиксированную высоту для презентаций */
    border: none; /* Убираем бордер вокруг iframe */
}

/* Стиль для текста и ссылок в секциях */
.lesson-video-audio-section p,
.lesson-presentation-section p {
    font-size: 16px;
    color: #666;
}

.lesson-presentation-section a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.lesson-presentation-section a:hover {
    text-decoration: underline;
}

/*==================================Modal window ================================================================ */

/* Основные стили для модального окна */
.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed;
  z-index: 1000; /* Модальное окно должно быть поверх других элементов */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Прокрутка, если контент выходит за пределы экрана */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
  background-color: #fff;
  margin: 5% auto; /* Отступы для центрирования модального окна */
  padding: 20px;
  border-radius: 5px; /* Скругление углов */
  width: 80%; /* Ширина модального окна */
  max-width: 1200px; /* Максимальная ширина модального окна */
  box-sizing: border-box; /* Включаем паддинги и бордеры в ширину и высоту */
  height: auto; /* Высота будет автоматически подстраиваться под содержимое */
  max-height: 90vh; /* Максимальная высота модального окна */
  overflow: auto; /* Прокрутка внутри модального окна, если контент превышает высоту */
}

/* Стили для заголовка задания */
.task-title {
  margin-bottom: 20px; /* Отступ снизу для заголовка задания */
  font-size: 1.2rem; /* Размер шрифта заголовка задания */
}

/* Стили для контейнера задания */
.task-content {
  margin-top: 20px; /* Отступ сверху перед содержимым задания */
  padding: 20px; /* Внутренний отступ для контейнера задания */
  background-color: #f9f9f9; /* Легкий фон для контейнера задания */
  border: 1px solid #ddd; /* Граница для контейнера задания */
  border-radius: 5px; /* Скругление углов контейнера задания */
}

/* Стили для размещения содержимого по центру */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px); /* Высота с учетом отступов для кнопок */
  overflow: auto; /* Прокрутка, если контент превышает высоту */
}

/* Заголовок модального окна */
.modal-title {
  margin: 0;
  font-size: 1.5rem; /* Размер шрифта заголовка */
}

/* Кнопка закрытия */
.close-button {
  position: absolute;
  top: 10px;
  right: 5px; /* Уменьшаем расстояние от края */
  font-size: 5rem; /* Размер кнопки закрытия */
  cursor: pointer;
  color: red; /* Цвет кнопки закрытия */
}

/* Кнопка открытия модального окна */
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

/* Кнопки внутри модального окна */
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

/* Кнопки футера */
#closeModalFooter {
  background-color: black;
  color: green;
}

/* Стили для контейнера с двумя кнопками */
.button-container {
  display: flex;
  flex-direction: column; /* Вертикальное размещение кнопок */
  gap: 10px; /* Расстояние между кнопками */
  margin: 20px 0; /* Отступы сверху и снизу контейнера кнопок */
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .modal-content {
    padding: 10px;
    width: 90%;
    height: auto; /* Автоматическая высота под контент */
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .close-button {
    top: 5px;
    right: 3px;
    font-size: 5rem;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  /* Стили для ворд-документов и презентаций */
  .modal-content iframe, /* Если используется iframe */
  .modal-content img,    /* Если показываются изображения */
  .modal-content object {
    max-width: 100%; /* Автоматическое изменение размера под модальное окно */
    max-height: 100vh; /* Уменьшение высоты контента */
    height: 200px;     /* Сохранение пропорций */
    width: 300px;      /* Растягивание до ширины модального окна */
  }
}

/* ============================================================================================================== */
                                        /* Мобильная адаптивность */
/* ============================================================================================================== */
@media (max-width: 768px) {
    .lesson-main-container {
        flex-direction: column; /* Расположение блоков в колонку */
        padding: 20px;
    }

    .lesson-content-container {
        max-width: 100%;
        margin-right: 0;
    }

    .lesson-side-container {
        width: 100%;
        margin-top: 20px; /* Добавляем отступ сверху для сайдбара */
        border-radius: 10px; /* Скругляем углы сайдбара */
    }

    video {
        width: 100%; /* Видео занимает всю ширину контейнера */
    }

    .lesson-return-container {
        bottom: 10px;
        left: 10px;
        transform: none;
    }
    .menu-toggle {
        font-size: 34px; /* Размер иконки */
        cursor: pointer; /* Курсор-рука при наведении */
        position: fixed; /* Фиксируем позицию */
        top: 100px; /* Отступ сверху */
        left: 90%; /* Отступ слева */
        z-index: 2000; /* Поверх других элементов */
    }
    .lesson-link2 {
        text-decoration: none; /* Убираем подчеркивание ссылок */
        color: black; /* Белый цвет текста */
        font-size: 48px; /* Размер шрифта */
        display: block; /* Ссылка занимает всю ширину */
        padding: 10px 15px; /* Внутренние отступы */
        border-radius: 50px; /* Скругленные углы */
        transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
    }
}
/* ============================================================================================================== */
