{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_lesson.css' %}">

<div class="lesson-main-container">
    <div class="lesson-content-container">
        <div class="lesson-center-content">
            <h1>{{ lesson.title }}</h1>
            <p class="black-text">
                {{ lesson.description|safe }}
            </p>
        </div>
        <h1>Видеоурок</h1>
        <div class="lesson-video-audio-section">
            {% if lesson.video and lesson.video.url %}
                <video width="1400" height="800" controls>
                    <source src="{{ lesson.video.url }}" type="video/mp4">
                    Ваш браузер не поддерживает видео тег.
                </video>
            {% else %}
                <p>Видео не было добавлено.</p>
            {% endif %}
        </div>
        <br>
        <h1>Презентация</h1>
        <div class="lesson-presentation-section">
            {% if lesson.presentation %}
                <p>Ваш браузер не поддерживает просмотр данного формата файлов. <a href="{{ lesson.presentation.url }}">Скачайте презентацию</a> для просмотра.</p>
            {% else %}
                <p>Презентаций нету.</p>
            {% endif %}
        </div>
    </div>
    <!-- Список -->
    <div class="lesson-side-container">
        <ul class="lesson-list">
            {% for i in list %}
                <li class="lesson-item">
                    <a href="{% url 'lesson_detail' i.id %}" class="lesson-link">{{ i.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Кнопка для открытия/закрытия меню -->
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <!-- Скрытое меню -->
    <div class="lesson-side2-container" id="sideMenu">
        <ul class="lesson-list2">
            {% for i in list %}
                <li class="lesson-item">
                    <a href="{% url 'lesson_detail' i.id %}" class="lesson-link">Лекця {{ i.number }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function toggleMenu() {
            var sideMenu = document.getElementById('sideMenu');
            sideMenu.classList.toggle('open');
        }

        // Закрытие меню при клике вне его области
        document.addEventListener('click', function(event) {
            var sideMenu = document.getElementById('sideMenu');
            var toggleButton = document.querySelector('.menu-toggle');

            // Проверка: если клик был вне меню и не по кнопке, закрываем меню
            if (!sideMenu.contains(event.target) && !toggleButton.contains(event.target)) {
                sideMenu.classList.remove('open');
            }
        });
    </script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>
{% endblock %}
