{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_lesson.css' %}">

<div class="lesson-main-container">
    <div class="lesson-content-container">
        <div class="lesson-center-content">
            <h1>{{ lesson.title }}</h1>
            <br>
            <p>{{ lesson.description|safe }}</p>
        </div>
        <br>
    </div>

<!-- Контейнер для кнопок с классом fixed-buttons -->
<div class="button-container fixed-buttons">
    {% if task %}
        <a href="{% url 'task_detail' task.id %}">
            <button class="btn btn-primary">Word бағдарламасында тапсырманы көрсету</button>
        </a>
    {% else %}
        <p>Ештеңе қосылмаған.</p>
    {% endif %}

    <button id="openPresentationModal" class="btn btn-primary">Презентацияны көрсету</button>
    <button id="openPresentationModal2" class="btn btn-primary">Презентация 2 көрсету</button>
    <button id="openVideoModal" class="btn btn-primary">Видеоны көрсету</button>
    <button id="openQuestionModal" class="btn btn-primary">Бақылау сұрақтарын көрсету</button>

    {% for quiz in quizzes %}
        <a href="{% url 'quiz:quiz_detail' quiz.id %}">
            <button class="btn btn-secondary">{{ quiz.title }}  тест</button>  <!-- Ссылка на тест -->
        </a>
    {% empty %}
        <p>Бұл лекцияға тесттер жоқ.</p> <!-- Сообщение, если тестов нет -->
    {% endfor %}
</div>

    <!-- Модальное окно для отображения презентации -->
    <div id="presentationModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closePresentationModal">&times;</span>
            <h5 class="modal-title">Презентация</h5>
            <div class="modal-body">
                {% if lesson.presentation_urls %}
                    <h6 class="task-title">Презентация:</h6>
                    <div class="task-content">{{ lesson.presentation_url|safe }}</div>
                {% else %}
                    <p>Бұл дәріс үшін презентациялар табылмады.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Модальное окно для второй презентации -->
    <div id="presentationModal2" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closePresentationModal2">&times;</span>
            <h5 class="modal-title">Тапсырмалар</h5>
            <div class="modal-body">
                {% if lesson.presentation_urls %}
                    <h6 class="task-title">Презентация 2:</h6>
                    <div class="task-content">
                        {{ lesson.presentation_urls|safe}}
                    </div>
                {% else %}
                    <p>Бұл дәріс үшін презентациялар табылмады.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Модальное окно для видео -->
    <div id="videoModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeVideoModal">&times;</span>
            <h5 class="modal-title">Видеоурок</h5>
            <div class="modal-body">
                {% if lesson.video_url %}
                    <iframe width="100%" height="500" src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
                {% else %}
                    <p>Видео не было добавлено.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Модальное окно для вопросов -->
    <div id="questionModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeQuestionModal">&times;</span>
            <h5 class="modal-title">Бақылау сұрақтары</h5>
            <div class="modal-body">
                {% if lesson.question %}
                    <div class="question-content">{{ lesson.question|safe }}</div>
                {% else %}
                    <p>Бұл дәріс үшін сұрақтар табылмады.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Кнопка для открытия/закрытия меню -->
<div class="menu-toggle" onclick="toggleMenu()">☰</div>
<!-- Скрытое меню -->
<div class="lesson-side2-container" id="sideMenu">
    <ul class="lesson-list2">
        {% for i in list %}
            <li class="lesson-item">
                <a href="{% url 'lesson_detail' i.id %}" class="lesson-link">Лекця {{ i.number }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    function toggleMenu() {
        var sideMenu = document.getElementById('sideMenu');
        sideMenu.classList.toggle('open');
    }

    document.addEventListener('click', function(event) {
        var sideMenu = document.getElementById('sideMenu');
        var toggleButton = document.querySelector('.menu-toggle');
        if (!sideMenu.contains(event.target) && !toggleButton.contains(event.target)) {
            sideMenu.classList.remove('open');
        }
    });

    // Модальные окна
    const presentationModal = document.getElementById('presentationModal');
    const presentationModal2 = document.getElementById('presentationModal2');
    const videoModal = document.getElementById('videoModal');
    const questionModal = document.getElementById('questionModal');

    const openPresentationModal = document.getElementById('openPresentationModal');
    const openPresentationModal2 = document.getElementById('openPresentationModal2');
    const openVideoModal = document.getElementById('openVideoModal');
    const openQuestionModal = document.getElementById('openQuestionModal');

    const closePresentationModal = document.getElementById('closePresentationModal');
    const closePresentationModal2 = document.getElementById('closePresentationModal2');
    const closeVideoModal = document.getElementById('closeVideoModal');
    const closeQuestionModal = document.getElementById('closeQuestionModal');

    // Открытие модальных окон
    openPresentationModal.onclick = function() {
        presentationModal.style.display = 'block';
    }

    openPresentationModal2.onclick = function() {
        presentationModal2.style.display = 'block';
    }

    openVideoModal.onclick = function() {
        videoModal.style.display = 'block';
    }

    openQuestionModal.onclick = function() {
        questionModal.style.display = 'block';
    }

    // Закрытие модальных окон
    closePresentationModal.onclick = function() {
        presentationModal.style.display = 'none';
    }

    closePresentationModal2.onclick = function() {
        presentationModal2.style.display = 'none';
    }

    closeVideoModal.onclick = function() {
        videoModal.style.display = 'none';
    }

    closeQuestionModal.onclick = function() {
        questionModal.style.display = 'none';
    }

    // Закрытие модальных окон при клике вне их границ
    window.onclick = function(event) {
        if (event.target === presentationModal) {
            presentationModal.style.display = 'none';
        }
        if (event.target === presentationModal2) {
            presentationModal2.style.display = 'none';
        }
        if (event.target === videoModal) {
            videoModal.style.display = 'none';
        }
        if (event.target === questionModal) {
            questionModal.style.display = 'none';
        }
    }

    // Инициализация CKEditor для поля "Бақылау сұрақтары"
    ClassicEditor
        .create(document.querySelector('.question-content'))
        .catch(error => {
            console.error(error);
        });
</script>

<script type="text/javascript" src="{% static "staticfiles/ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "staticfiles/ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
