{% extends 'base.html' %}

{% block content %}
{% load static %}
      <div class="prompt-sec">
        <div class="prompt-img">
            <img src="{% static 'img/main.jpg' %}">
            <div class="tabs">
                <a href="#" class="active">Мәзір -></a>
                <a href="{% url 'books' %}">Тарихи факт</a>
                <a href="{% url 'metod' %}">Әдістемелер</a>
                <a href="{% url 'project' %}">Жоба</a>
                <a href="{% url 'quiz:quiz_list' %}">Тесттер</a>
                <a href="{% url 'author' %}">Автор</a>
            </div>
        </div>
    </div>

    <div class="showcase" id="aihub">
        <h3 style="color: black">ҚАЗАҚСТАН ТАРИХЫ ТУРАЛЫ ФАКТІЛЕР</h3>
        <div class="text-sec">
            <p >
                Қазақстан тарихы – Орталық Азиядағы ең ежелгі және бай тарихқа ие мемлекеттердің бірі.
                Бұл елдің тарихы мыңдаған жылдар бойы қалыптасқан, оның ішінде сақтар, ғұндар,
                түркілер және қыпшақтар сынды көптеген көшпелі халықтардың мәдениеті мен өркениеті ерекше орын алады.
                Қазақстанның тарихы арқылы біз тек саяси оқиғалар мен соғыстарды ғана емес, сонымен бірге мәдениет пен дәстүрдің дамуын,
                халықтардың өзара әрекеттесуін, ғылым мен білімнің өркендеуін де байқай аламыз.
                Қазақстанның тәуелсіздікке қол жеткізуі – заманауи тарихтағы маңызды бетбұрыстардың бірі болып саналады.
            </p>
        </div>
        <div class="image-sec">
            <img src="{% static 'img/1.jpg' %}">
            <img src="{% static 'img/2.jpg' %}">
            <img src="{% static 'img/3.jpg' %}">
            <img src="{% static 'img/4.jpg' %}">
        </div>
    </div>

    <div class="services" id="services">
        <div class="header">
            <h3 style="color: black;">Әдістемелер</h3>
            <p>
                Еліміздің бай және көпқабатты тарихын ескере отырып,
                Қазақстан тарихы бойынша әдіснамалар әр түрлі болуы мүмкін.
                Мұнда бірнеше мысалдар келтірілген:
            </p>
        </div>

        <div class="service-items">
            <div class="item">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey">Тарихнамалық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey">
                        Қазақстан туралы жазылған түрлі дереккөздер мен әдеби материалдарды талдау.
                    </p>
                </div>
            </div>
            <div class="item active">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey" >Археологиялық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey" >
                        Қазіргі Қазақстан аумағын мекендеген ежелгі мәдениеттерді
                        зерттеу үшін археологиялық деректерді пайдалану.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey">Этнографиялық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey">
                        Қазақ халқының мәдени дәстүрлері мен әдет-ғұрыптарын зерттеу.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="gradient"></div>
                    <p class="grey">Әлеуметтік-экономикалық әдіс</p>
                </div>
                <div class="desc">
                    <p class="grey">
                        Ауыл шаруашылығын, өнеркәсіпті және сауданы дамытуды қоса алғанда,
                        Қазақстанның тарих бойындағы экономикалық дамуын зерттеу.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
