{% extends 'base.html' %}
<title>Login</title>
{% load static %}
{% block content %}
<body2>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="container">
        <h2>Аккаунтқа кіру</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group2">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group2">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit">Кіру</button>
        </form>
        <div class="links">
            <p>Сізде аккаунт жоқ па? <a href="{% url 'register' %}">Тіркелу</a></p>
        </div>
    </div>
</body2>
{% endblock %}