{% extends 'base.html' %}
<title>Login</title>
{% load static %}
{% block content %}
<body class="auth-body">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="auth-container">
        <h2 class="auth-heading">Аккаунтқа кіру</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <div class="auth-form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="auth-form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="auth-button">Кіру</button>
        </form>
        <div class="auth-links">
            <p>Сізде аккаунт жоқ па? <a href="{% url 'register' %}">Тіркелу</a></p>
        </div>
    </div>
</body>
{% endblock %}
