{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="auth-register-body">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="auth-register-container">
        <h2 class="auth-register-heading">Тіркелу</h2>
        <form method="post" class="auth-register-form">
            {% csrf_token %}
            <div class="auth-register-form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="auth-register-button">Тіркелу</button>
        </form>
        <div class="auth-register-links">
            <p>Сізде аккаунт бар ма? <a href="{% url 'login' %}">Кіру</a></p>
        </div>
    </div>
</body>
{% endblock %}
