{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'logo/1.png' %}" type="image/x-icon">
    <title>ҚАЗАҚСТАН ТАРИХЫ</title>
</head>

<body>

    <nav id="free-trial">
        <div class="logo">
            <i class="ri-bard-fill"></i>
        </div>
        <div class="nav-links">
            <a href="{% url 'topic_list' %}">Басты Бет</a>
            <a href="{% url 'lesson_list_by_topic' topic_id=1 %}">Дәрістер</a>
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}">Админка</a>
            {% endif %}
            <a href="{% url 'quiz:quiz_list' %}">Тесттер</a>
        </div>
        <div class="login">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Шығу</a>
            {% else %}
                <a href="{% url 'login' %}">Кіру</a>
                <a href="{% url 'register' %}">Тіркелу</a>
            {% endif %}
            <a href="{% url 'profile' %}"><img src="{% static 'img/login.JPG' %}"></a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>

