{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'logo/1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>ҚАЗАҚСТАН ТАРИХЫ</title>
</head>
<style>
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}



/* По умолчанию скрываем элемент */
.nav__item--mobile {
  display: none;
}
    body {
        font-family:  sans-serif;
        background: linear-gradient(to bottom right, #f0f4f7, #e8ecf0);
    }
/* Показываем элемент только на мобильных устройствах */
@media (max-width: 768px) {
  .nav__item--mobile {
    display: block;
  }
}

</style>
<body>
    <!-- Навигация -->
    <nav class="nav container">
        <a href="{% url 'topic_list' %}" class="nav__logo">KZTARIH</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="{% url 'lesson_list_by_topic' topic_id=1 %}" class="nav__link">
                        <span>Дәрістер</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'map' %}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Карта</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'links' %}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Тесттер</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'film_list' %}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Фильмдер</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'hrono' %}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Хронология</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'list_web' %}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Сайттар</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'glossary' %}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Глоссарий</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'list_topic' %}" class="nav__link">
                        <span>Сұрақтар</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav__item nav__item--mobile">
                        <a href="{% url 'logout' %}" class="nav__link" style="color:red;">Шығу</a>
                    </li>
                {% endif %}
            </ul>
            <!-- Социальные ссылки -->
            <!--
            <div class="nav__social">
                <a href="https://www.instagram.com/" target="_blank" class="nav__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://github.com/" target="_blank" class="nav__social-link">
                    <i class="ri-github-line"></i>
                </a>
                <a href="https://dribbble.com/" target="_blank" class="nav__social-link">
                    <i class="ri-dribbble-line"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank" class="nav__social-link">
                    <i class="ri-linkedin-box-line"></i>
                </a>
            </div>-->
            <!-- Закрытие меню -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-large-line" style="color: red;"></i>
            </div>
        </div>
        <!-- Переключение меню -->
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line" style="color: black;"></i>
        </div>

    </nav>

        {% block content %}
        {% endblock %}


</body>
</html>
<script>
    /*=============== SHOW MENU ===============*/
    const navMenu = document.getElementById('nav-menu'),
          navToggle = document.getElementById('nav-toggle'),
          navClose = document.getElementById('nav-close')

    /* Menu show */
    if(navToggle){
       navToggle.addEventListener('click', () =>{
          navMenu.classList.add('show-menu')
       })
    }

    /* Menu hidden */
    if(navClose){
       navClose.addEventListener('click', () =>{
          navMenu.classList.remove('show-menu')
       })
    }
</script>